mixin social-icons()
  div&attributes(attributes).social-icons
    a(href='https://www.instagram.com/nastia_mosk/' target='_blank' rel='noopener noreferrer').social-icons__item.instagram
    a(href='https://www.facebook.com/NastiaMosk' target='_blank' rel='noopener noreferrer').social-icons__item.facebook
    a(href='https://twitter.com/explore' target='_blank' rel='noopener noreferrer').social-icons__item.twitter
    a(href='https://www.youtube.com/' target='_blank' rel='noopener noreferrer').social-icons__item.youtube