footer.footer#footer
  .footer-content
    h2.footer-content__heading.secondary-heading Folow me on <span class="inst-logo-word">Instagram</span>
    include instagram.pug
    +social-icons(class='footer-content__social-icons')
  .Nastia_Copyright
      cite.copyright <a href="https://www.linkedin.com/in/nastiamosk/" target="_blank" rel="noopener noreferrer">© Nastia Moskalenko</a> Production. 2020. All rights reserved
