.footer-content__inst-frame.inst-frame
  .inst-hd
    .inst-ava
      a(href='https://www.instagram.com/nastia_mosk/' target='_blank' rel='noopener noreferrer')
        .inst-ava__crl
          img(src="img/inst-circle.svg")
        img(src="img/inst-ava.jpg").inst-ava__pic
    .inst-section
      span.inst-section__nknm
        a(href='https://www.instagram.com/nastia_mosk/' target='_blank' rel='noopener noreferrer')  nastia_mosk
      ul.inst-sts
        li.inst-sts__itm
          a(href='https://www.instagram.com/nastia_mosk/' target='_blank' rel='noopener noreferrer') <span>34</span><br> posts
        li.inst-sts__itm
          a(href='https://www.instagram.com/nastia_mosk/' target='_blank' rel='noopener noreferrer') <span>1,204</span><br> followers
        li.inst-sts__itm
          a(href='https://www.instagram.com/nastia_mosk/' target='_blank' rel='noopener noreferrer') <span>412</span><br> following
  .inst-descr
    span.inst-descr__nm Nastia
    p.inst-descr__txt
      |For to me to live is Christ, and to die is gain.
      |<br>▪Phil 1:21
    a(href='https://www.instagram.com/nastia_mosk/' target='_blank' rel='noopener noreferrer').inst-descr__lnk instagram.com/nastia_mosk